.profile {
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    background-color: var(--button-color);
}

.caret {
    margin-right: 4px;
}