.modal {
    position: fixed;
    /* height: 11rem; */
    width: 50%;
    background-color: var(--main-text-color);
    color: black;
    z-index: 99;
    top: 70px;
    right: 20px;
    transition: height 0.5s ease, color 0.1s ease 0.2s;
    border-radius: 5px;
    /* padding: 4px; */
}

.modal li {
    list-style: none;
    padding: 10px 10px;
}

.modal li:first-child {
    border-radius: 5px 5px 0 0;
}

.modal li:hover {
    background-color: var(--menu-color);
}