.main-heading {
    height: 5rem;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    z-index: 1;
}